.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
 

 }

.input[type="text"] {
  border-radius: 0.5em;
  margin-left: 137em;
  padding: 0.5em;
  border: solid #06d6a0;
  color: #370617;
  font-weight: 700;
  font-size: 1em;
  background-color:antiquewhite;
}

.button[type="submit"] {
  margin: 4px 2px;
  padding: 10px 32px;
  border-radius: 5px;
  background-color: #8f7dec;
  border: none;
  font-size: 15px;
  cursor: pointer;
} 



.submit-button {
  display: inline-block;
  width: calc(18.33% - 20px); 
  margin: 0 10px 10px; 
  text-align: center;
    
}

.submit-button h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 24px;
  color: #fff;
}

.submit-button img {
  width: 150px;
  height: auto;

}

.submit-button h5 {
  margin-top: 5px;
  font-size: 16px;
  color: #fff;
}

