.containerLoading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url('https://besthqwallpapers.com/Uploads/29-12-2020/149458/thumb-world-map-4k-blue-world-map-blue-background-world-map-concepts.jpg');
	background-size: cover;
	background-position: center;
    color: blue;
	width:auto;
	height: 1000px;
	margin-left: 1px; 
}

.h2Lading{
	background-color: rgb(233, 237, 240);
	border-radius: 15px;
	width:650px;
	height: 600px;
	font-size: 15px;
	text-align: center; 
	line-height: 2;
}
 
.buttonLading {
	font-size: 1.5rem;
	padding: 0.5rem 0.5rem;
	border-radius: 50px;
	background-color: #d3701f;
	color: aliceblue;
	border: none;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	
}
  
